<!DOCTYPE html >


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>注册</title>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript" src="/static/js/jquery.js"></script>
    <script src="/static/js/cloud.js" type="text/javascript"></script>
</head>

<body style="background-color:#1c77ac; background-image:url(/static/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
<center>
<h1>欢迎注册</h1>
	<div id="mainBody">
      <div id="cloud1" class="cloud"></div>
      <div id="cloud2" class="cloud"></div>
    </div>
<form method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {% for field in Pe %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </tr>
		{%if field.errors %}
		<tr>
		<td></td>
		<td style="color: red;">{{ field.errors }}</td>
		</tr>
		{%else%}
		<td><br></td>
		{% endif %}
    {% endfor %}
	<script type="text/javascript">   
    function Dsy()   
    {   
    this.Items = {};   
    }   
    Dsy.prototype.add = function(id,iArray)   
    {   
    this.Items[id] = iArray;   
    }   
    Dsy.prototype.Exists = function(id)   
    {   
    if(typeof(this.Items[id]) == "undefined") return false;   
    return true;   
    }   
    function change(v){   
    var str="0";   
    for(i=0;i<v;i++){ str+=("_"+(document.getElementById(s[i]).selectedIndex-1));};   
    var ss=document.getElementById(s[v]);   
    with(ss){   
    length = 0;   
    options[0]=new Option(opt0[v],opt0[v]);   
    if(v && document.getElementById(s[v-1]).selectedIndex>0 || !v)   
    {   
    if(dsy.Exists(str)){   
    ar = dsy.Items[str];   
    for(i=0;i<ar.length;i++)options[length]=new Option(ar[i],ar[i]);   
    if(v)options[1].selected = true;   
    }   
    }   
    if(++v<s.length){change(v);}   
    }   
    }   
    var dsy = new Dsy();   
    dsy.add("0",["北京市","天津市","河北省","山西省","内蒙古自治区","辽宁省","吉林省","黑龙江省","上海市","江苏省","浙江省","安徽省","福建省","江西省","山东省","河南省","湖北省","湖南省","广东省","广西壮族自治区","海南省"," 重庆市","四川省","贵州省","云南省","西藏自治区","陕西省","甘肃省","青海省","宁夏回族自治区","新疆维吾尔自治区","港澳台","其它"]);   
    dsy.add("0_0",["北京大学","清华大学","华北电力大学（北京）","北京工业大学","首都经济贸易大学","北京交通大学","北京外国语大学","中央音乐学院"," 北京林业大学","中央民族大学","中国人民大学","北京航空航天大学","北京邮电大学","北京中医药大学","北京师范大学","对外经济贸易大学","北京理工大学","北京科技大学","北京化工大学","中国农业大学","中国传媒大学","北京电影学院","中央美术学院","北京电子科技学院","中央财经大学","北京服装学院","中华女子学院","中国政法大学","北京工商大学","中国音乐学院","北京建筑工程学院","北京协和医学院","中国戏曲学院","北京联合大学","中国人民公安大学","中国青年政治学院","北京农学院","中国劳动关系学院","北京室友化工学院","外交学院","首钢工学院","首都医科大学","北京舞蹈学院","北京物资学院","首都体育学院","首都体育学院","首都师范大学","北京印刷学院","北京语言大学","国际关系学院","中国石油大学（北京）","中国地质大学（北京）","首都师范大学科德学院","北京体育大学","北京信息科技大学","中国矿业大学（北京）","北京联合大学商务学院","北京工商大学嘉华学院","北京联合大学师范学院","北京工业大学耿丹学院","北京邮电大学世纪学院","北京大学医学部","装甲兵工程学院","中国人民解放军防化指挥工程","中国人民解放军陆军航空兵学院","中国解放军装备指挥学院","北京第二外国语学院中瑞酒店","北京服装学院莱福士国际学院","北京第二外国语学院","中国人民大学HND项目","其他"]);   
    dsy.add("0_1",["南开大学","天津大学","天津医科大学","天津师范大学","天津工业大学","天津理工大学","天津科技大学","天津财经大学","天津商业大学","天津外国语大学","中国民航大学","天津中医药大学","天津职业技术师范大学","天津城市建筑学院","天津城市建设学院","天津体育学院","天津农学院","天津音乐学院","天津美术学院","中国人民武装警察部队医学院","军事交通学院","其他"]);   
    dsy.add("0_2",["河北工业大学","河北科技大学","河北大学","河北经贸大学","东北大学秦皇岛分校","华北电力大学（保定）","河北师范大学","河北医科大学","河北理工大学","河北农业大学","燕山大学","承德医学院","河北北方大学","河北师范大学","河北医科大学","河北理工大学","河北农业大学","燕山大学","承德医学院","河北北方大学","河北工程大学","河北建筑大学","华北科技学院","华北煤炭医学院","石家庄经济学院","石家庄铁道大学","唐山学院","邢台学院","其他"]);   
    dsy.add("0_3",["太远理工大学","山西大学","山西农业大学","山西医科大学","陕西师范大学","山西财经大学","中北大学","太原科技大学","长治医学院","忻州师范学院","山西大同大学","太原师范学院","山西中医学院","运城学院","晋中学院","太原工业学院","山西医科大学汾阳学院","长治学院","吕梁学院","山西大学商务学院","其他"]);   
    dsy.add("0_4",["内蒙古大学","内蒙古科技大学","内蒙古民族大学","内蒙古工业大学","内蒙古农业大学","内蒙古师范大学","内蒙古医学院","内蒙古财经学院","赤峰学院","呼伦贝尔学院","集宁师范学院","内蒙古师范大学鸿德学院","呼和浩特民族学院","内蒙古大学创业学院","内蒙古科技大学包头医学院","其他"]);   
    dsy.add("0_5",["大连海事大学","辽宁大学","大连工业大学艺术与信息工程学院","东北大学","大连理工大学","辽东学院","鲁迅美术学院","中国刑事警察学院","沈阳医学院","沈阳体育学院","鞍山师范学院","辽宁中医药大学","沈阳音乐学院","辽宁医学院","大连民族学院","沈阳航空航天大学","大连海事大学","大连工业大学","沈阳建筑大学","辽宁工业大学","渤海大学","沈阳外国语学院","沈阳理工大学","大连大学","辽宁医科大学","中国医科大学","东北财经大学","沈阳农业大学","其他"]);   
    dsy.add("0_6",["吉林大学","东北师范大学","延边大学","北华大学","长春大学","长春理工大学","长春工业大学","吉林农业大学","长春师范学院","吉林师范大学","东北电力大学","长春工程学院","吉林建筑工程学院","吉林化工大学","长春中医药大学","吉林工程技术师范学院","通化师范学院","白城师范学院","吉林华侨外国语学院","吉林财经大学","其他"]);   
    dsy.add("0_7",["哈尔滨工业大学","哈尔滨工程大学","黑龙江大学","东北农业大学","东北林业大学","佳木斯大学","齐齐哈尔大学","哈尔滨理工大学","黑龙江八一农垦大学","哈尔滨医科大学","黑龙江中医药大学","牡丹江师范学院","哈尔滨商业大学","东北石油大学","哈尔滨学院","黑龙江工程学院","黑龙江科技大学","牡丹江医学院","齐齐哈尔医学院","黑龙江东方学院","哈尔滨金融学院","大庆师范学院","黑河学院","哈尔滨师范大学","绥化学院","哈尔滨体育学院","哈尔滨德强商务学院","其他"]);   
    dsy.add("0_8",["复旦大学","上海交通大学","华东师范大学","华东理工大学","同济大学","上海大学","上海政法大学","上海对外贸易学院","上海交通大学医学院","上海财经学院","华东大学","上海外国语大学","上海理工大学","上海工程技术大学","上海海洋大学","上海中医药大学","上海师范大学","上海第二工业大学","上海海事大学","上海应用技术学院","上海电力学院","上海立信会计学院","上海金融学院","华东政法大学","上海体育学院","上海音乐学院","上海戏剧学院","上海杉达学院","上海海关学院","上海建桥学院","上海中医药大学中药学院","上海大学悉尼工商学院","中国人民解放军第二军医大学","上海商学院","复旦大学上海视觉艺术学院","上海电机学院","其他"]);   
    dsy.add("0_9",["江苏大学","南京航空航天大学","江南大学","东南大学","中国矿业大学","南京大学","南京理工大学","南京农业大学","南京师范大学","河海大学","中国药科大学","苏州大学","南京工程学院","南京晓庄学院","常州工学院","南京艺术学院","江苏技术师范学院","南京审计学院","淮阴工学院","盐城师范学院","其它"]);   
    dsy.add("0_10",["浙江大学","杭州电子科技大学","宁波大学","浙江师范大学","浙江工业大学","浙江理工大学","嘉兴学院","浙江科技大学","中国计量大学","浙江海洋大学","浙江农林大学",,"浙江中医药大学","温州医学院","杭州师范大学","湖州师范大学","台州学院","绍兴文理学院","温州大学","浙江工商大学","浙江财经学院","其它"]);   
    dsy.add("0_11",["合肥工业大学","中国科学技术大学","安徽大学","安徽理工大学","安徽工业大学","安徽农业大学","安徽医科大学","安徽师范大学","安徽工程大学","安徽建筑工业学院","皖南医学院","淮北师范大学","安徽科技大学","淮南师范学院","安徽财经大学","皖西学院","合肥学院",,"巢湖学院","铜陵学院","黄山学院","其它"]);   
    dsy.add("0_12",["厦门大学","福州大学","华侨大学","福建农林大学","集美大学","仰恩大学","福建师范大学","福建工程大学","泉州师范学院","漳州师范学院","闽江学院","莆田学院","福建医科大学","福建中医药大学","厦门理工大学","集美大学诚毅学院","龙岩大学","三明学院","福建江夏学院","武夷学院","其它"]);   
    dsy.add("0_13",["南昌大学","华东交通大学","江西理工大学","江西农业大学","江西师范大学","江西财经大学","东华理工大学","南昌航空大学","景德镇陶瓷学院","江西中医学院","上饶师范学院","赣南师范学院","江西科技师范学院","宜春学院","九江学院","赣南医学院","井冈山大学","南昌工程大学","南昌理工大学","江西蓝天学院","其它"]);   
    dsy.add("0_14",["中国海洋大学","滨州医学院","德州学院","济南大学","中国石油大学（华东）","山东大学","青岛农业大学","聊城大学","临沂师范学院","青岛大学","青岛科技大学","青岛理工大学","曲阜师范大学","山东财政学院","山东工商学院","山东工艺美术学院","山东建筑大学","山东交通大学","山东经济大学","山东科技大学","其它"]);   
    dsy.add("0_15",["郑州大学","郑州轻工业学院","河南大学","河南科技大学","河南农业大学","河南理工大学","华北水利水电学院","河南工业大学","河南城建学院","黄河科技学院","郑州航空工业管理学院","中原工学院","新乡医学院","洛阳师范学院","周口师范学院","南阳师范学院","商丘师范学院","河南财经政法大学","许昌学院","河南师范大学","其它"]);   
    dsy.add("0_16",["武汉大学","中国地质大学（武汉）","华中科技大学","武汉理工大学","中南财经政法大学","华中农业大学","华中农业大学","华中师范大学","中南民族大学","湖北大学","长江大学","江汉大学","三峡大学","武汉纺织大学","湖北工业大学","武汉工程大学","湖北汽车工业学院","武汉工业学院","湖北中医药大学","郧阳医学院","湖北师范学院","其他"]);   
    dsy.add("0_17",["湖南大学","湖南师范大学","中南大学","湘潭大学","吉首大学","湖南科技大学","长沙理工大学","南华大学","湖南农业大学","湖南工业大学","湖南理工大学","湖南城市大学","湖南工程学院","中南林业科技大学","湖南中医药大学","湘南学院","衡阳师范学院","湖南商学院","湖南科技学院","湖南文理学院","其他"]);   
    dsy.add("0_18",["华南师范大学","中山大学","华南理工大学","暨南大学","汕头大学","深圳大学","五邑大学","广东工业大学","华南农业大学","广东海洋大学","广州中医药大学","广东外语外贸大学","东莞理工学院","广东石油化工学院","广州大学","广州医学院","广东药学院","韩山师范学院","韶关学院","其他"]);   
    dsy.add("0_19",["广西大学","广西医科大学","广西师范大学","桂林电子科技大学","桂林理工大学","广西工学院","桂林医学院","玉林师范学院","广西师范学院","广西工学院","桂林医学院","玉林师范学院","广西师范学院","广西民族大学","右江民族医学院","广西中医学院","广西财经学院","其它"]);   
    dsy.add("0_20",["海南大学","汉南师范大学","海南医学院","琼州学院","海南大学三亚学院","海口经济学院","其它"]);   
    dsy.add("0_21",["西南大学","重庆邮电大学移通学院","重庆工商大学","西南政法大学","重庆医科大学","重庆交通大学","重庆交通大学","重庆师范大学涉外商贸学院","长江师范学院","重庆师范大学","重庆邮电大学","重庆文理学院","重庆工商大学融智学院","重庆三峡学院","重庆大学","四川外语学院","重庆理工大学","后勤工程学院","重庆科技学院","其他"]);   
    dsy.add("0_22",["四川交通大学","四川大学","四川农业大学","西南财经大学","西南财经大学","西南民族大学","成都理工大学","西华大学","西南科技大学","成都中医药大学","四川师范大学","西华师范大学","中国民用航空飞行学院","西南石油大学","成都信息工程学院","四川理工学院","泸州医学院","川北医学院","电子科技大学","四川民族学院","四川文理学院","其它"]);   
    dsy.add("0_23",["贵州师范大学","贵阳医学院","贵州民族学院","遵义医学院","贵州财经学院","贵阳中医学院","黔南民族师范学院","遵义师范学院","贵州大学","贵阳学院","毕节学院","铜仁学院","安顺学院","凯里学院","贵州师范学院","六盘水师范学研","贵州大学科技学院","贵州大学明德学院","兴义民族师范学院","贵州师范大学求是学院","其它"]);   
    dsy.add("0_24",["云南大学","昆明理工大学","云南农业大学","云南师范大学","云南民族大学","西南林业大学","昆明医学院","云南中医学院","玉溪中医学院","楚雄师范学院","红河学院","云南财经大学","云南警官大学","云南艺术学院","大理学院","昆明学院","曲靖师范学院","昆明医学院海源学院","其它"]);   
    dsy.add("0_25",["西藏大学","西藏民族学院","西藏医学院","其他"]);   
    dsy.add("0_26",["长安大学","西北大学","西安电子科技大学","西北工业大学","西安交通大学","西北农林科技大学","陕西师范大学","延安大学","西安理工大学","西安建筑科技大学","西安科技大学","西安石油大学","陕西科技大学","西安工程大学","西安工业大学","西安邮电大学","陕西中医学院","咸阳师范学院","渭南师范学院","宝鸡文理学院","其它"]);   
    dsy.add("0_27",["兰州大学","西北民族大学","兰州理工大学","兰州交通大学博文学院","兰州交通大学","甘肃农业大学","西北农业大学","甘肃中医学院","兰州商学院","甘肃政法学院","河西学院","陇东学院","天水师范学院","兰州城市学院","甘肃民族师范学院","其他"]);   
    dsy.add("0_28",["青海大学","青海师范大学","青海民族大学","其他"]);   
    dsy.add("0_29",["宁夏大学","北方民族大学","宁夏医科大学","宁夏师范学院","宁夏理工学院","中国矿业大学银川学院","其他"]);   
    dsy.add("0_30",["新疆大学","石河子大学","新疆农业大学","新疆医科大学","新疆师范大学","喀什师范大学","新疆财经大学","新疆艺术学院","昌吉学院","伊犁师范学院","塔里木大学","其他"]);   
    dsy.add("0_31",["香港理工大学","香港中文大学","香港城市大学","香港科技大学","香港大学","香港演艺学院","澳门理工学院","香港教育学院","中国文理学院","香港经贸管理学院","香港岭南大学","香港浸会大学","其他"]);    
       
    var s=["s1","s2"];   
    var opt0 = ["请选择","请选择"];   
    function setup()   
    {   
    for(i=0;i<s.length-1;i++)   
    document.getElementById(s[i]).onchange=new Function("change("+(i+1)+")");   
    change(0);   
    }   
    </script>
	
	<tr>
	<td><label >省份:</label></td>
	<td>
	<select name="province" id="s1">
	<option></option>   
    </select>
    </td>
	</tr>
	<td><br></td>
	<tr>
	<td><label >毕业院校:</label></td>
	<td>
	<select name="school" id="s2">   
    <option></option>   
    </select>
	</td>   
    <script language="javascript">   
        setup()   
    </script>
	<tr>
	<td><br></td>
	{% for field in Se %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </tr>
		{%if field.errors %}
		<tr>
		<td></td>
		<td style="color: red;">{{ field.errors }}</td>
		</tr>
		{%else%}
		<td><br></td>
		{% endif %}
    {% endfor %}
	
    </table>
    <li><input type="submit" class="loginbtn" value="确认" />  <input type="button" class="loginbtn" value="返回登录界面" onclick="location.href='/login/'" /></li>
<br>
</center>
</body>
</html>