<?xml version="1.0" encoding="UTF-8"?>


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>查询校友</title>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript" src="/static/js/jquery.js"></script>
    <script src="/static/js/cloud.js" type="text/javascript"></script>
</head>
<body style="background-color:#1c77ac; background-image:url(/static/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
	<div id="mainBody">
      <div id="cloud1" class="cloud"></div>
      <div id="cloud2" class="cloud"></div>
    </div>
<div id="main" align="center">
<h1>为您选择的校友如下:</h1>


<center>
{% if errors %}
{% for error in errors %}
<p color=red>{{error}}</p>
{% endfor %}
{% else %}
{% if queryset %}
<table width="800" border="1">
<tr>
<th>姓名</th><th>年龄</th><th>性别</th><th>毕业院校</th><th>邮箱</th><th>操作</th> 
</tr>
{% for person in queryset %}
<tr style="text-align:center">
<td>{{ person.name }}</td>
<td>{{ person.age }}</td>
<td>{{ person.sex }}</td>
<td>{{ person.school }}</td>
<td>{{ person.email }}</td>
<td><a href='/queryothers/p1{{person.id}}p0/'>查询其师承关系</a>
<a href='/buildteacher/p1{{person.id}}/'>添加为老师</a>
<a href='/buildstudent/p1{{person.id}}/'>添加为学生</a></td>

</tr>
{% endfor %}
</table>




{% else %}

<table width="800" border="1">
<tr>
<th>姓名</th><th>年龄</th><th>性别</th><th>毕业院校</th><th>邮箱</th><th>操作</th> 
</tr>
{% for person in queryset2 %}
<tr style="text-align:center">
<td>{{ person.name }}</td>
<td>{{ person.age }}</td>
<td>{{ person.sex }}</td>
<td>{{ person.school }}</td>
<td>{{ person.email }}</td>
<td><a href='/queryothers/p1{{person.id}}p0/'>查询其师承关系</a>
<a href='/buildteacher/p1{{person.id}}/'>添加为老师</a>
<a href='/buildstudent/p1{{person.id}}/'>添加为学生</a></td>

</tr>
{% endfor %}
</table>

{% endif %}
{% endif %}
</center>
</div>
<br></br>
{% if queryset2%}
<div align ="center">
	<a href='/ssf/'>换一组</a>
</div>
{% endif %}
<br></br>
<div align="center">
 <a href="/index/">返回主页</a>
</div>
</body>